<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Materiais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form (ngSubmit)="registerMaterial()">
    <ion-item>
      <ion-label position="floating">Nome do Material</ion-label>
      <ion-input type="text" [(ngModel)]="materialName" name="materialName" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input type="text" [(ngModel)]="materialDescription" name="materialDescription" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quantidade</ion-label>
      <ion-input type="number" [(ngModel)]="materialQuantity" name="materialQuantity" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="!materialName || !materialDescription || !materialQuantity">Cadastrar</ion-button>
  </form>

  <ion-list *ngIf="materials.length > 0">
    <ion-list-header>
      <ion-label>Lista de Materiais</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let m of materials">
      <ion-label>
        <h2>{{ m.name }} ({{ m.quantity }})</h2>
        <p>{{ m.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
